<%# ページング %>
<%= will_paginate @users, :previous_label => 'Prev', :next_label => 'Next', :params => { :action => "list" } %><br />

<table border="0">
  <tr>
    <th><%= t("user.icon") %></th>
    <th><%= t("user.nickname") %></th>
    <th><%= t("user.full_name") %></th>
    <th><%= t("user.rank") %></th>
    <th><%= t("user.status") %></th>
    <th><%= t("user.twitter_id") %></th>
    <th><%= t("user.skype_id") %></th>
    <th><br /></th>
  </tr>

  <% @users.each do |user| %>
  <tr class="top_line">
    <td><%= image_tag user.icon, :size => t("user.profile_size"), :alt => t("user.icon_alt") %></td>
    <td><%=h user.nickname %></td>
    <td><%=h user.full_name %></td>
    <td><%=h user.rank %></td>
    <td><%=h user.profile.status if !user.profile.blank? and user.profile.status == t("user.status_ok") %></td>
    <td><%=h user.profile.twitter_id if !user.profile.blank? and Profile.show_ok?( { :user => @self_user, :profile => user.profile }, t("user.status_ok") ) %></td>
    <td><%=h user.profile.skype_id if !user.profile.blank? and Profile.show_ok?( { :user => @self_user, :profile => user.profile }, t("user.status_ok") ) %></td>
<% form_for :user, :url => { :action => "approval" } do |f| %>
    <td>
      <%# 未承認ボタン %>
      <%= f.hidden_field :user_id, { :value => user.id } %>
      <%= f.submit t("user.status_no"), :disable_with => t("user.status_no"), :confirm => '承認を解除します。よろしいですか？', :disabled => ( !user.profile.blank? and user.profile.status == t("user.status_no") ) if User.level_master?( session[:user_id] ) %>
    </td>
    <td>
      <%# 承認ボタン %>
      <%= f.submit t("user.status_ok"), :disable_with => t("user.status_ok"), :confirm => '承認します。よろしいですか？', :disabled => ( !user.profile.blank? and user.profile.status == t("user.status_ok") ) if Profile.status_approval_ok?( session[:user_id], t("user.status_ok") ) %>
    </td>
<% end %>
    <td class="menu">
    <% if Profile.show_ok?( { :user => @self_user, :profile => user.profile }, t("user.status_ok") ) %>
      <%= link_to 'プロフィール', { :controller => "profiles", :action => "show", :user_id => user.id } %>
    <% end %>
    </td>
  </tr>
  <% end %>

  <tr class="top_line">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<%# ページング %>
<%= will_paginate @users, :previous_label => 'Prev', :next_label => 'Next', :params => { :action => "index" } %>

<br />
